<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.hombre.freelancehunt">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true"
        android:launchMode="singleTask"
        android:largeHeap="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.login.view.LoginActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.main.view.activities.MainActivity"
            android:configChanges="orientation|screenSize" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.freelancers.view.FreelancerDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/profile_view" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.threads.view.ThreadMessagesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/thread_view" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.employers.view.EmployerDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/employer_view" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.project.view.ProjectDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/project_view" />

        <activity
            android:theme="@style/AppTheme"
            android:name=".ui.contest.view.ContestDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/contest_view" />


    </application>

</manifest>