<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tech.hombre.freelancehunt">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".ui.login.view.LoginActivity"
            android:configChanges="keyboard"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.view.activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.freelancers.view.FreelancerDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/freelancer_view"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.threads.view.ThreadMessagesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/thread_view"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.employers.view.EmployerDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/employer_view"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.project.view.ProjectDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/project_view"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.contest.view.ContestDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/contest_view"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.project.view.NewProjectActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenSize"
            android:label="@string/new_project"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.project.view.UpdateProjectActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:configChanges="orientation|screenSize"
            android:label="@string/update_project"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.base.LinksParserActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:noHistory="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="freelancehunt.com"
                    android:scheme="https" />

                <data
                    android:host="freelancehunt.work"
                    android:scheme="https" />

                <data android:pathPattern=".*\\/project.*" />
                <data android:pathPattern=".*\\/contest.*" />
                <data android:pathPattern=".*\\/mailbox.*" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

    </application>

</manifest>